.App {
  /* text-align: center; */
  /* overflow: hidden; */
  height:100vh;
  font-weight: 600;
  font-size: large;
  color: black;
  background-image: url('./assets/background.svg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;

}

.container{
  width: auto;
}

.test{
  width: 30rem;
  margin: auto;
  margin-top: 30vh;
}
.row {
  --bs-gutter-x:0px;
}

.inputGroup{
  margin-bottom: .8rem;
}

.btn{
  color: #000;
  --bs-btn-border-color:#ffffff !important;
--bs-btn-text-color:#000000;
--bs-btn-font-weight:500;
}

footer{
  text-align: center;
  height: 2rem;
  background-color: #0a9396;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerText{
  margin-top: .2rem;
  font-size: medium;
}

.footerLink{
  text-decoration: none;
  color: #000;

}
.footerLink :hover{
  color: #005f73;
}
img{
  /* align-self:; */
  width: 20rem;
  height: 20rem;
  transition: all 1s ease-in-out;
  border-radius: 7px;
}
